<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" thread-count="3" parallel="methods">
	<test name="UnitTesting">
		<classes>
			<class name="com.unitTestCases.TC_LaunchGoogleSearch1"></class>
			<class name="com.unitTestCases.TC_LaunchGoogleSearch2"></class>
			<class name="com.unitTestCases.TC_LaunchGoogleSearch3"></class>
		</classes>
	</test>
	<test name="IntegrationTesting">
		<classes>
			<class name="com.unitTestCases.TC_LaunchGoogleSearch1"></class>
			<class name="com.unitTestCases.TC_LaunchGoogleSearch2"></class>
			<class name="com.unitTestCases.TC_LaunchGoogleSearch3"></class>
		</classes>
	</test>
</suite>